{% extends "layout.html" %}

{% block title %}
Delete Profile
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3 mt-3">
	<h3 class="text-light">Delete Profile</h3>
	<p class="text-secondary text-center mb-3">
		Are you sure you want to delete your profile?
	</p>
	<form action="{{ url_for('profile.delete') }}" method="post">
		<!-- CSRF Token -->
		{{ form.hidden_tag() }}

		<!-- Current Email -->
		<div class="mb-1 input-group">
			<span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
			{{ form.email(class="form-control mx-auto w-auto", placeholder="Current Email", autofocus=True) }}
		</div>
		{% if form.email.errors %}
		<div class="text-danger small">
			{{ form.email.errors[0] }}
		</div>
		{% endif %}

		<!-- Current Password -->
		<div class="mb-1 mt-3 input-group">
			<span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
			{{ form.password(class="form-control mx-auto w-auto", placeholder="Current Password") }}
		</div>
		{% if form.password.errors %}
		<div class="text-danger small">
			{{ form.password.errors[0] }}
		</div>
		{% endif %}

		<div class="text-center mt-3">
			{{ form.submit() }}
		</div>

		<div class="container mt-3">
			<div class="row">
				<div class="col-6">
					<p class="text-start"><a href="{{ url_for('profile.me') }}">Back to Profile</a></p>
				</div>
				<div class="col-6">
					<p class="text-end"><a href="{{ url_for('profile.reset_password_request') }}">Forgot your password?</a></p>
				</div>
			</div>
		</div>

	</form>
</div>
{% endblock %}
