{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">Profile</h3>
	<p class="text-secondary text-center mb-3">Welcome back! See your progress and update your profile here.</p>
	<div class="text-center">
		<div id="cal-heatmap" class="mx-auto"></div>
		<input type="hidden" id="cal-heatmap-data" value="{{ all_time_duration_logs }}">
	</div>
	<div class="container mt-3">
		<div class="row">
			<div class="col-4 text-start">
				<button class="btn btn-outline-secondary w-auto" type="button" id="prev-button"><i
						class="fa-solid fa-arrow-left"></i></button>
			</div>
			<div class="col-4 text-center mt-2" id="current-date-range"></div>
			<div class="col-4 text-end">
				<button class="btn btn-outline-secondary w-auto" type="button" id="next-button"><i
						class="fa-solid fa-arrow-right"></i></button>
			</div>
		</div>
	</div>
</div>

<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3 mt-3">
	<ul class="nav nav-tabs" role="tablist">

		<!-- Change Email Tab -->
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="email-tab-update" data-bs-toggle="tab" data-bs-target="#email-form-update"
				type="button" role="tab">Update Email</button>
		</li>

		<!-- Change Password Tab -->
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="password-tab-update" data-bs-toggle="tab" data-bs-target="#password-form-update"
				type="button" role="tab">Update Password</button>
		</li>

		<!-- Delete Profile -->
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="delete-profile-tab" data-bs-toggle="tab" data-bs-target="#delete-profile-form"
				type="button" role="tab">Delete Profile</button>
		</li>
	</ul>

	<div class="tab-content mt-3">

		<!-- Update Email Form -->
		<div class="tab-pane show active" id="email-form-update" role="tabpanel">
			<form action="{{ url_for('profile.update_email') }}" method="get">
				<button class="btn btn-primary w-100" type="submit">Update Email</button>
			</form>
		</div>

		<div class="tab-pane fade" id="password-form-update" role="tabpanel">
			<form action="{{ url_for('profile.update_password') }}" method="get">
				<button class="btn btn-primary w-100" type="submit">Update Password</button>
			</form>
		</div>

		<div class="tab-pane fade" id="delete-profile-form" role="tabpanel">
			<form action="{{ url_for('profile.delete') }}" method="get">
				<button class="btn btn-danger w-100" type="submit">Delete Profile</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/cal-heatmap/dist/cal-heatmap.css">
<script src="/static/js/progress.js"></script>
{% endblock %}
