{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">Reset Password</h3>
	<p class="text-secondary text-center">
		Remember your password this time!
	</p>
	<form action="{{ url_for('profile.reset_password_token', token=token) }}" method="post">
		{{ form.hidden_tag() }}

		<!-- Password -->
		<div class="mb-1 mt-3 input-group">
			<span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
			{{ form.password(class="form-control mx-auto w-auto", placeholder="Password") }}
		</div>

		<!-- Confirm password -->
		<div class="mb-1 mt-3 input-group">
			<span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
			{{ form.confirm_password(class="form-control mx-auto w-auto", placeholder="Confirm Password") }}
		</div>

		<!-- Submit Button -->
		<div class="text-center mt-3">
			{{ form.submit() }}
		</div>
	</form>
</div>
{% endblock %}
