MAIL_PASSWORD=your-mail-password
MAIL_USERNAME=your-mail-username
MAIL_PORT=your-mail-port
MAIL_SERVER=your-mail-server
REDIS_PASSWORD=your-redis-password
REDIS_PORT=your-redis-port
REDIS_HOST=your-redis-host
SUPABASE_ANON_KEY=your-supabase-anon-key
POSTGRES_HOST=your-postgres-host
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
POSTGRES_DATABASE=your-postgres-database
POSTGRES_PASSWORD=your-postgres-password
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-next-public-supabase-anon-key
POSTGRES_USER=your-postgres-user
SUPABASE_JWT_SECRET=your-supabase-jwt-secret
POSTGRES_URL_NON_POOLING=your-postgres-url-non-pooling
NEXT_PUBLIC_SUPABASE_URL=your-next-public-supabase-url
SUPABASE_URL=your-supabase-url
POSTGRES_PRISMA_URL=your-postgres-prisma-url
POSTGRES_URL=your-postgres-url
SECRET_KEY=your-secret-key
SQLALCHEMY_DATABASE_URI=your-sqlalchemy-database-uri
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GOOGLE_API_KEY=your-google-api-key
