.btn {
	min-width: 80px;
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	padding-bottom: 6rem;
}

@media (min-width: 576px) {
	.w-sm-100 {
		width: 100% !important;
	}

	.w-sm-75 {
		width: 75% !important;
	}

	.w-sm-50 {
		width: 50% !important;
	}

	.w-sm-25 {
		width: 25% !important;
	}
}

@media (min-width: 768px) {
	.w-md-100 {
		width: 100% !important;
	}

	.w-md-75 {
		width: 75% !important;
	}

	.w-md-50 {
		width: 50% !important;
	}

	.w-md-25 {
		width: 25% !important;
	}
}
