.btn {
	min-width: 80px;
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	/* padding-bottom: 6rem; */
}

#cal-heatmap {
	min-height: 150px;
	display: flex;
	/* Enables flexbox for centering */
	justify-content: center;
	/* Horizontally centers the content */
	align-items: center;
	/* Vertically centers the content if height is set */
}

#cal-heatmap svg {
	margin: 0 auto;
	/* Ensures SVG is centered inside the container */
	display: block;
	/* Removes any extra spacing caused by inline elements */
}

@media (min-width: 576px) {
	.w-sm-100 {
		width: 100% !important;
	}

	.w-sm-75 {
		width: 75% !important;
	}

	.w-sm-50 {
		width: 50% !important;
	}

	.w-sm-25 {
		width: 25% !important;
	}
}

@media (min-width: 768px) {
	.w-md-100 {
		width: 100% !important;
	}

	.w-md-75 {
		width: 75% !important;
	}

	.w-md-50 {
		width: 50% !important;
	}

	.w-md-25 {
		width: 25% !important;
	}
}

@media (max-width: 768px) {
	#current-date-range {
		font-size: 0.8rem;
	}
}
