{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<div class="container w-100 w-md-50 bg-dark border rounded shadow p-3">
	<h3 class="text-light">About Pomodoro 50</h3>
	<p class="text-light text-start mb-3">&diams; Dear.</p>
	<p class="text-light text-start mb-3">Begin your focused work session by pressing the spacebar and entering a title for your current task. What sets Pomodoro 50 apart is its innovative break validation system: when you pause your timer, you'll be prompted to provide a reason. Our AI assistant, PomoPal, analyzes your response to determine if it warrants a break, offering personalized advice to help you maintain productivity.</p>
	<p class="text-light text-start mb-3">Only completed sessions and breaks with valid reasons contribute to your total focused time. This unique approach encourages mindful work habits while helping you understand and improve your productivity patterns.</p>
	<p class="text-light text-start mb-3">Track your progress through weekly analytics and search through your past sessions to gain insights into your work habits.</p>
</div>
{% endblock %}
